<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015133847807-88sm7aug0mfmmq2382sg5u9ic49kjg6e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015133847807-88sm7aug0mfmmq2382sg5u9ic49kjg6e</string>
	<key>API_KEY</key>
	<string>AIzaSyAC8B5R8IWsvrsaEae4I1F_AQwz0dvMvgM</string>
	<key>GCM_SENDER_ID</key>
	<string>1015133847807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.TableViewproj</string>
	<key>PROJECT_ID</key>
	<string>tableviewproj</string>
	<key>STORAGE_BUCKET</key>
	<string>tableviewproj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015133847807:ios:cc3286b14fce42d8df8cca</string>
	<key>DATABASE_URL</key>
	<string>https://tableviewproj.firebaseio.com</string>
</dict>
</plist>